.SearchBox__input {
  background-color: darkcyan;
  color: white;
  border-color: darkcyan;
}

.SearchBox__input::placeholder {
  color: white;
}

.SearchBox__plus-icon {
  font-size: 1.4em;
}

.SearchBox__title {
  font-size: 1.3em;
  text-shadow: 0 0 2px rgba(0,0,0,.9);
}

@media only screen and (min-width: 992px) {
  .SearchBox__title {
    font-size: 1.7em;
  }
}
