.Directory__caret-container {
  /*width: 16px;*/
  display: flex;
  align-content: center;
  justify-content: center;
}

.Directory__icon {
  border-radius: inherit;
}

.Directory__name {
  cursor: default;
  border-radius: inherit;
}
