@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

:root {
  font-size: 16px;
  /*--main-color: #00c7ac;*/
  --main-color: #1abc9c;
}

body {
  margin: 0;
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF1F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.eyes-friendly {
  font-family: 'Merriweather', serif;
}

.text-main {
  color: var(--main-color);
}

.btn-main {
  color: #fff;
  background-color: #00c7ac;
  border-color: #00c7ac;
}

.alert-danger {
  border-width: 4px;
}

.border-default {
  border: 1px solid #eee;
}

.panel-default {
  border: 1px solid #eee;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: .3rem!important;
  background-color: #fff!important;
}

a, a:hover {
  color: var(--main-color)
}
